doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		script(type="text/javascript", src="/javascripts/photo-modal.js")
		script
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42893260-1', 'herokuapp.com');
			ga('send', 'pageview');
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.navbar-container
					ul.nav.pull-right
						li
							a#navbar-img-link(href="pro-profile")
								p.pull-right#pro-profile-nav-demo My Profile
						li
							a#navbar-img-link(href="users/new")
								p.pull-right#pro-profile-nav Sign up
		div.pro-body-container-gray
			a(href="users/new")
				div#master-container
					div#master-btn-container
						button.pull-left#master-btn Sign up
			div.row-fluid
				div.span9
					div.row-fluid
						div.span3
							img#pro-person-pic(src="images/zach2.png")
							h3#demo-stamp Demo
							//
								div#demo-signup-container
									a#demo-signup-btn.btn.btn-primary(href="new") Sign up
						div.span9#pro-info-container
							h4#pro-person-name Zachary Taylor
							p#pro-company-name Taylor & Co. Interiors
							p#pro-location Marin County, CA
							div#pro-description
								p Taylor & Co. Interiors designs and furnishes hundreds of commercial properties across the United States every year. Each project may take a business owner or builder from blueprints to finishing touches. We offer functionality, style and value, and we believe that good business and great design go hand in hand. At Taylor & Co. Interiors, we start with an agreed upon budget, making everything that follows a breeze.
								div#pro-description-more
									p Our award-winning designers love to work in a variety of styles and a range of aesthetics, never getting too comfortable with a particular 'look.'
									p Services Provided:
									p We offer a variety of interior design services ranging from project management to furniture sales.
									a#pro-less(href="#") less
								a#pro-more(href="#") ...more
				div.span3#pro-contact-container
					a#pro-contact-me.btn.btn-primary(href="mailto:someone@example.com?Subject=Hello", target="none") Contact Me
					p.pro-contact-info
						a(href="#") www.taylorcodesign.com
					p.pro-contact-info <strong>Phone:</strong>  711.307.7433
					p.pro-contact-info <strong>Email:</strong>  zach@taylorcodesign.com
					p.pro-contact-info <strong>Address:</strong> 2775 Willmary Dr., Marin County, CA 94956
			div#pro-album-container
				div#pro-album-1.pro-album-cover
					a(href="#pro-photo-modal", role="button", data-toggle="modal")
						img#pro-album.pro-album-pic(src="images/coffee1-2.jpg")
						div.pro-album-label-container
							div.pro-album-label
								p.search-pic-name Strand 21 Coffee
				div#pro-album-2.pro-album-cover
					a(href="#pro-photo-modal", role="button", data-toggle="modal")
						img#pro-album.pro-album-pic(src="images/wine1-1.jpg")
						div.pro-album-label-container
							div.pro-album-label
								p.search-pic-name Wine Collection
				div#pro-album-3.pro-album-cover
					a(href="#pro-photo-modal", role="button", data-toggle="modal")
						img#pro-album.pro-album-pic(src="images/yoga10-1.jpg")
						div.pro-album-label-container
							div.pro-album-label
								p.search-pic-name Yoga Asana
		div#pro-photo-modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="profile-photo-modalLabel", aria-hidden="true")
			div#profile-modal-large-container
				button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
				img#profile-modal-large-img(src="#")
			a#pro-modal-slide-left(class="carousel-control left", href="#myCarousel", data-slide="prev") &lsaquo;
			a#pro-modal-slide-right(class="carousel-control right", href="#myCarousel", data-slide="next") &rsaquo;
		div#loginModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="loginModalLabel", aria-hidden="true")
			div.modal-body
				button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
				form#login-form(method="POST", action="/session")
					label(for="email") E-mail:
					input.login-input(type="text", name="email")
					label(for="password") Password:
					input.login-input(type="password", name="password")
					div
						input.btn.btn-primary#login(type="submit", value="Log in")
				div.modal-footer
					p#new-user New user?
					a.btn.btn-primary.signin-action-btn(href="new", role="button") Create profile