doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.navbar-container
					ul.nav
						li
							a#navbar-home(href="home") Home
						li
							a(href="discover") Discover
						li
							a(href="discuss") Discuss
					ul.nav.pull-right
						li
							a#navbar-img-link(href="my-profile")
								img#navbar-profile-img(src="images/navbar-pic.jpg", title="Profile")
						li
							a#navbar-icon-link(href="/messages")
								img#navbar-mail-icon(src="images/mail-icon.png", title="Messages")
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") My Account <b class="caret"></b>
							ul.dropdown-menu
								li
									a(href="/profile") My Profile
								li
									a(href="/messages") Messages
								li
									a(href="#") Log out
		block content
