h1 Log in

form(method="POST", action="/session")
	p
		label(for="email") email:
		input#email(name="email")
	p
		label(for="password") Password:
		input#password(type="password", name="password")
	p
		input(type="submit", value="Log in");