extends layout

block content
	p Profile picture did not load successfully. Format must be ".png", ".jpg" or ".jpeg".
	p Please try again and don't forget to re-enter your password.
	a(href="javascript:history.go(-1)") Back