h1 upload photo

form(action="/upload", method="POST")
	p
		label(for="name") album name:
		input#name(name="name")
	p
		input(type="submit", value="submit")

p #{message1}	

form(action="/upload/photo", method="POST", enctype="multipart/form-data")

	p
		input(type="file", name="file")
	p
		input(type="submit", value="submit")

p #{message}