extends layout

block content
	script
		var hide = !{JSON.stringify(hide)};
		alert(hide);
	div.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-inner
			div.navbar-container
				ul.nav.pull-right
					li
						a#navbar-img-link(href="../demo")
							p.pull-right#pro-profile-nav-demo View Demo
					li
						a#navbar-img-link(href="../pro-profile")
							p.pull-right#pro-profile-nav-demo My Profile
	div.body-container
		div#edit-page-container
			h3#form-header-1 Create an album
			form(action="/upload", method="POST")
				div#create-album-name
					p
						label(for="name") Album Name:
						input.profile-input(name="name", type="text")
					p
						button.btn.btn-primary#create-album-btn(type="submit") Submit
			//p #{message1}	
			form(action="/upload/photo", method="POST", enctype="multipart/form-data")
				p
					div(style="position:relative;")
						a.btn#form-profile-pic-btn(href='#') Choose File...
							input#form-profile-pic(type="file", name="file", size="40",  onchange='$("#upload-file-info").html($(this).val());')
						span(class='label label-info', id="upload-file-info")
				p
					button.btn.btn-primary#create-album-btn(type="submit") Submit
				a(href="../pro-profile") back to profile